# configuration for versioning using bumpversion
[bumpversion]
current_version = 1.2.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:./lohrasb/__init__.py]

[bumpversion:file:./tests/test_lohrasb.py]

[bumpversion:file:./lohrasb/version.py]